/* пример применения sc rules */
SC_rules {
    --rule: {
        thex = .main[
            background-color: #dd763a,
            width: 400px
        ],

        test = .main[
            background-color: #bebebe,
            border-radius: 10px,
            width: 550px
        ],

        go = .new_btn[
            background-color: #4cb422
        ],

        new_rules = .new_btn[ 
            justify-content: center, 
            height: 35px,
            user-select: auto
        ]
    };

    /* тема */
    --theme: {
        dark = {
            .main[
                background-color: #dd763a,
                width: 400px
            ],
            
            .new_btn[
                background-color: #4cb422
            ],
        },

        ligth = {
            .main[
                background-color: #bebebe,
                border-radius: 10px,
                width: 550px
            ],
            
            .new_btn[ 
                justify-content: center, 
                height: 35px,
                user-select: auto
            ],
        },
    };
}

.main {
    display: flex;
    position: absolute;
    height: 300px;
    width: 500px;
    top: 50%;
    transition: 100ms;
    left: 29%;
    background-color: #bebebe;
    border-radius: 20px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.test_text {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 75px;
    background-color: rgb(219, 110, 110);
    margin: 10px;
    border-radius: 5px;
    user-select: none;
    cursor: default;
}

.new_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 75px;
    background-color: rgb(179, 110, 219);
    margin: 10px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}